<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Salas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/index.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/listaSalas.css}" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
        
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    
    <script th:src="@{/js/listaSalas.js}"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-custom navbar-expand-md fixed-top">
        <a class="navbar-brand" href="/">BingoGO</a>
        <ul class="nav navbar-nav">
            <li class="active nav-item"><a href="/salas" class="nav-link">Salas</a></li>
            <li class="active nav-item"><a href="#" class="nav-link">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav ml-auto btnsSesion">
            <li class="active nav-item infoUsuario">
           		<a th:href="@{'/perfil/' + ${usuario.nombre}}">
	           		<span th:text="${usuario.nombre}"></span>
	           		<img th:src="@{'/perfil/' + ${usuario.nombre} + '/imagen'}" alt="imagen" width="40x" height="40px" />
           		</a>
           	</li>
        </ul>
    </nav>

    <div id="container">
        <div class="cabeceraSalas">
            <div class="filtros">
                <input type="text" name="nombreSala" placeholder="Nombre de la sala" />
                <label class="cbFiltro">Salas llenas
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="cbFiltro">Salas privadas
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="opciones">
                <button class="btn btn-primary" id="btnCrearSala">Crear sala</button>
                <button class="btn btn-primary">Sala aleatoria</button>
            </div>
        </div>
        <div class="scrollbar" id="scrollbar">
            <div class="list-group">
                <a th:each="sala: ${listaSalas}" th:href="@{'/salas/sala/' + ${sala.idSala}}" th:id="${sala.idSala}" 
                	th:class="${sala.jugando ? 'list-group-item list-group-item-action list-group-item-secondary grid-container' : 'list-group-item list-group-item-action grid-container'}">
                    <div th:text="${sala.nombre}"></div>
                    <div th:text="${#lists.size(sala.lUsuarios)} + ' / 5'"></div>
                    <div>
                    	<img th:each="usu: ${sala.lUsuarios}" th:src="@{'/perfil/' + ${usu.nombre} + '/imagen'}" width="45px" height="45px" th:title="${usu.nombre}" data-toggle="tooltip" />
                    </div>
                    <th:block th:switch="${sala.publica}">
                    	<div th:case="true">P&uacute;blica <i class="fas fa-lock-open"></i></div>
                    	<div th:case="false">Privada <i class="fas fa-lock"></i></div>
                    </th:block>
                </a>
            </div>
        </div>
    </div>
    <div id="chat">
        <div id="containerMensajes"></div>
        <form id="frmEnviarMensaje">
        	<input type="text" name="mensaje" placeholder="Envía tu mensaje!" autocomplete="off" />
        </form>
    </div>
    
    <div id="dialogo" title="Nueva sala">
        <form action="/salas/crearSala" method="POST" th:object="${nuevaSala}">
            <input th:field="*{nombre}" type="text" placeholder="Nombre de la sala" maxlength="30" required />
            <div id="publica">
	            <span>P&uacute;blica</span>
	            <label class="rbPublica">S&iacute;
	            	<!-- Aunque ponga checked en este se marca el no, probablemente sea cosa de las coordenadas del css. 
	            	Aun asi funciona el resto -->
	                <input id="rb1" type="radio" th:field="*{publica}" value="true" checked="checked">
	                <span class="checkmark radiomark"></span>
	            </label>
	            <label class="rbPublica">No
	                <input id="rb2" type="radio" th:field="*{publica}" value="false">
	                <span class="checkmark radiomark"></span>
	            </label>
            </div>
            <input th:field="*{password}" type="password" placeholder="Contraseña" required />
            <div id="errorNuevaSala"></div>
            <button type="submit">Crear sala</button>
        </form>
    </div>
    
    <div id="dialogoPw" title="Introduce contraseña">
        <form action="/salas/comprobarContraseña" method="POST">
            <input name="pw" type="password" placeholder="Contraseña" required />
            <input name="idSala" type="hidden" />
            <button type="submit">Unirse</button>
        </form>
    </div>
</body>

</html>