<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Partida</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/elegirCarton.css}" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script th:src="@{/js/elegirCarton.js}"></script>
</head>

<body>

	<div id="countdownContainer">
        <span>Tiempo restante:</span>
        <span id="countdown"></span>
    </div>
	
	<div id="container">
        <a th:href="@{'/partida/' + ${idPartida} + '?tipo=false'}">
            <img src="/imgs/cartonNormal.png" alt="cartonNormal" width="500" height="500"/> 
            <div>Carton normal</div>
        </a>
        <a th:href="@{'/partida/' + ${idPartida} + '?tipo=true'}">
            <img src="/imgs/cartonPremium.png" alt="cartonPremium" width="500" height="500"/>
            <div>Carton premium</div>
        </a>
    </div>
	
	<input id="idPartida" type="hidden" th:value="${idPartida}" />
</body>
</html>