/*.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }*/

body {
    color: white;
    overflow: hidden;
}

.navbar{
    padding: 0;
    background-color: #03A9F4;
}

.navbar-brand{
    margin-left: 20px;
    font-size: 28px !important;
    padding: 7px !important;
}

.navbar a {
    padding: 16px;
    font-size: 17px;
}

.btnsSesion{
    margin-right: 100px;
}

/* li que contiene el nombre y fotos de perfil */
.infoUsuario{
    width: wrap;
    min-width: 130px;
    margin-right: 80px;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoUsuario span {
    margin-right: 15px;
    text-align: center;
}

.mostrarLogin{
    padding: 16px;
    font-size: 17px;
    cursor: pointer;
}

.navbar li:hover{
    background-color: #448AFF !important; /* el !important es para cuando se ejecuta el javascript no lo sobreescriba */
}

#divLogin{
    display: none;
    width: 420px;
    height: 280px;
    position: fixed;
    top: 56px;
    right: 100px;
    background-color: #448AFF;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 270px;
}

.cerrar{
    display: block;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
}

#formLogin{
    padding-right: 20px;
}

#divLogin input{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    padding: 15px;
}

#btnLogin{
    width: 100%;
    height: 40px;
    color: white;
    border-radius: 25px;
    margin-top: 15px; 
    cursor: pointer;
    background-color: #3063b7;
    border: none;
}

#btnLogin:hover{
    background-color: #77a3ec;
}

/* div que contiene enlaces para ver el perfil, los mensajes y cerrar sesion */
#divInfoUsuario{
    display: none;
    width: 130px;
    height: 120px;
    position: fixed;
    top: 57px;
    right: 180px;
    background-color: #448AFF;
    z-index: 1; /* necesario al menos para que se vea por encima de los mensajes en la pantalla mensajes */ 
}

#divInfoUsuario a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightblue;
    text-decoration: none;
}

#divInfoUsuario a:hover{
    background-color: #77a3ec;
}

/* notificaciones que pueden ir apareciendo */
.notificacion{
    width: 500px;
    height: 100px;
    background-color: #03A9F4;
    position: fixed;
    bottom: 0;
    right: -500px;
    margin-bottom: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 25px;
    z-index: 2;
}

.notificacion > div{
    margin-left: 30px;
    margin-top: 5px;
}

.notificacion a {
    background-color: blue;
}