html, body{
    height: 100%;
}

body{
    display: flex;
    background-color: lightblue;
}

body > div:not(#divInfoUsuario){
    margin-top: 57px;
}

#container {
    color: black;
    background-color: aquamarine;
}

#chat{
    color: black;
    background-color: rgb(8, 237, 253);
}

#container {
    flex-grow: 3;
    height: calc(100% - 57px); /* el 100% del height de la ventana menos los 57px del navbar */
    display: flex;
}

#principal {
    width: 60%;
    margin-left: 30px;
}

#nombreSala{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}

/* div que se va mostrar como un grid de 5 filas donde se van mostrar los nombres de los jugadores */
#listaJugadores{
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 50px;
    width: 100%;
    margin-top: 50px;
}

#listaJugadores div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    font-size: 30px;
}

/* estilos para los botones de empezar partida y y abandonar sala */
#opciones{
    display: grid;
    grid-column-gap: 20px;
    width: calc(100% - 20px); /* el 60% que ocupa el div de los jugadores menos 20px del margen entre columnas */
    height: 50px;
    margin-top: 100px;
}

/* clase para el contenedor de botones cuando se necesita una columna */
.de1{
	grid-template-columns: 100%;
}

/* clase para el contenedor de botones cuando se necesitan dos columnas */
.de2{
	grid-template-columns: repeat(2, [column] 50%);
}

/* clase para el contenedor de botones cuando se necesitan tres columnas */
.de3{
	grid-template-columns: repeat(3, [column] 33%);
}

#opciones > button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* estilos para la tarjeta del jugador */
#infoJugador{
    margin-top: 150px;
    margin-left: 70px;
    width: 400px;
    height: 400px;
    background-color: red;
    display: none;
}

/* Estilos del chat */
#chat {
    flex-grow: 1;
    max-width: 400px;
    height: calc(100% - 57px); /* el 100% del height de la ventana menos los 57px del navbar */
    display: grid;
    grid-template-rows: 92% 8%;
    padding-bottom: 50px;
    overflow-wrap: break-word;
}

#containerMensajes {
    margin-left: 20px;
    color: black;
    overflow-y: auto;
}

#containerMensajes div{
    max-width: 350px;
    margin-top: 5px;
}

#containerMensajes div:first-child{
    margin-top: 10px;
}

#containerMensajes a{
	color: red;
}

#chat form{
	width: 100%;
}

#chat input {
    width: 80%;
    padding: 15px;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dialogoAmigos > div{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid blue;
}

#dialogoAmigos span {
	font-size: 23px;
}