<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Iniciar sesi&oacute;n</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/registro.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>

    <nav class="navbar navbar-dark bg-custom navbar-expand-md fixed-top">
        <a class="navbar-brand" href="/">BingoGO</a>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()" class="active nav-item"><a href="/salas" class="nav-link">Salas</a></li>
            <li class="active nav-item"><a href="#" class="nav-link">Page 2</a></li>
        </ul>
    </nav>

    <div id="divLogin">
        <i class="fas fa-times cerrar"></i>
        <h4>Est&aacute;s registrado?</h4>
        <form id="formLogin" action="/login" method="POST">
            <input type="text" name="username" placeholder="Usuario" required />
            <input type="password" name="password" placeholder="Contraseña" required />
            <button id="btnLogin" type="submit">Iniciar sesi&oacute;n</button>
        </form>
    </div>

    <div class="form">
        <div class="titulo">BingoGO</div>
        <div th:if="${param.error}" class="alert alert-danger">
            El usuario o la contraseña son incorrectos.
        </div>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Usuario" required />
            <input type="password" name="password" placeholder="Contraseña" required />
            <a href="#" class="olvidarDatos">Olvidaste tus datos?</a>
            <button type="submit">Iniciar sesi&oacute;n</button>
            <p class="message">No tienes una cuenta? <a href="/registro">Registrate!</a></p>
        </form>
    </div>
</body>

</html>